html, body {
	height: 100%;
}
div {
	min-height: 100%;
	background-color:#282c34;



}

.App {
  text-align: center;
	padding-top: 20%;


}
.counter{
  font-size: 40px;
  color:#61dafb
}

.buttons , .counter {
  padding: 20px 0;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background-color: #282c34;
  border: 5px solid #61dafb;
  border-radius: 5px;
  max-width: 300px;
}
.error {
  border-color: red;
  
  background-color: red;
}
.btn {
	display: inline-block;	
	box-sizing: border-box;
	/* padding: 0 20px; */
	margin: 0 15px 15px 0;
	outline: none;
  border: 5px solid #61dafb; 
	border-radius: 4px;
	/* height: 32px; */
	line-height: 32px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #3775dd;
	box-shadow: 0 2px #21487f;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
}
.btn:hover {
	background-color: #002fed;
}
.btn:active {
	background-color: #2f599e !important;
}
.btn:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}
.btn:disabled {
	background-color: #6c87b5;
	pointer-events: none;
}



